<?xml version="1.0"?>
<launch>

	<!-- Set namespace -->
	<!--arg name="id_robot" default="robot"/-->

	<!-- Desired frequency -->
	<arg name="desired_freq" default="10.0" />
	
	<arg name="modbus_io_sub_name" default="robotnik_roller_belt_modbus_io/registers" />
	<arg name="barcode_dock_namespace" default="barcode_docker" />
	<arg name="move_namespace" default="move" />
	<arg name="max_threshold" default="0.005" />

	<!--group ns="$(arg id_robot)"-->

		<!-- start BarcodeDocker node -->
		<node name="barcode_docker" pkg="barcode_docker" type="barcode_docker_node.py" output="screen" respawn="false">
			<param name="desired_freq" value="$(arg desired_freq)"/>

			<param name="modbus_io_sub_name" value="$(arg modbus_io_sub_name)"/>
			<param name="barcode_dock_namespace" value="$(arg barcode_dock_namespace)"/>
			<param name="move_namespace" value="$(arg move_namespace)"/>
			<param name="max_threshold" value="$(arg max_threshold)"/>
		</node>

	<!--/group-->

</launch>
